$global-padding: 15px !default;
$border-radius: 4px !default;
$default-shadow: 0 2px 8px rgba(61, 72, 89, 0.1) !default;
$active-shadow: 0 2px 8px rgba(61, 72, 89, 0.2) !default;
$primary-color: #2caaf1 !default;
$secondary-color: #41b2f2 !default;
$header-height: 256px !default;
$content-width: 800px !default;
$footer-height: 50px !default;
$post-space: 30px !default;
$post-padding: 10px 20px !default;
$title-color: #404040 !default;
$excerpt-color: #a3a3a3 !default;
$post-color: #404040 !default;
